#newGridContainer {
    text-align: center;
    margin: 16px auto;
    color: rgb(255, 0, 0);
}

#container {
    display: flex;
    width: 960px;
    height: auto;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
}

.cell {
    width: 58px;
    height: 58px;
    border: 1px solid rgb(128, 128, 128);
}